
html, body{
  height: 0;
}
body{
  background-color: #e9dbd4;
}
.App{
  margin: 0;
  padding: 0;
}
.noise::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  /* opacity: 1; */
  opacity: .03;
  z-index: 1500;
  pointer-events: none;
  background: url(./Assets/noise.gif);
}
::-webkit-scrollbar{
  display: none;
}